openapi: 3.0.4
info:
  title: Mortgage Calculator
  description: >-
    Mortgage Calculator is a simple tool for calculating mortgage payments. It
    returns the monthly payment, total interest, and more.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/mortgagecalculator:
    post:
      summary: Calculate Mortgage
      description: >-
        Calculate mortgage payments based on the loan amount, interest rate, and
        loan term
      operationId: mortgagecalculator
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  amount: 570000
                  downpayment: 0
                  rate: 6.8
                  years: 30
                  total_interest_paid: 767750.49
                  total_loan_payment: 1337750.49
                  interestRatio: 57.39
                  monthly_payment:
                    total: 3715.97
                    mortgage: 3715.97
                    property_tax: 0
                    hoa: 0
                    home_insurance: 0
                  annual_payment:
                    total: 44591.68
                    mortgage: 44591.68
                    property_tax: 0
                    hoa: 0
                    home_insurance: 0
                  formatted:
                    amount: $570,000
                    monthlyPayment: $3,715.97
                    totalInterestPaid: $767,750.49
                    totalLoanPayment: $1,337,750.49
                  amortization_schedule:
                    - month: 1
                      interest_payment: 3230
                      principal_payment: 485.97
                      remaining_balance: 569514.03
                    - month: 2
                      interest_payment: 3227.25
                      principal_payment: 488.73
                      remaining_balance: 569025.3
                    - month: 3
                      interest_payment: 3224.48
                      principal_payment: 491.5
                      remaining_balance: 568533.8
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: The loan amount
                rate:
                  type: number
                  description: The interest rate (percentage)
                years:
                  type: integer
                  description: The loan term in years
                downpayment:
                  type: number
                  description: The down payment amount
                annual_propertytax:
                  type: number
                  description: The annual property tax amount
                annual_homeinsurance:
                  type: number
                  description: The annual home insurance amount
                annual_hoa:
                  type: number
                  description: The annual HOA amount
              required:
                - amount
                - rate
                - years
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  amount: 570000
  rate: 6.8
  years: 30
